<div class="text-center">
    <h1 class="text-danger">Access denied</h1>
    <img src="~/Images/Permission.jpg" style="width: 400px; height:300px" />
    <br />
    <h6 class="text-danger">You have no permission for this page!</h6>
</div>